* {
    margin: 0;
    padding: 0;
}
.hero {
    height: 100vh;
    width: 100%;
    background: url(img/sky.jpg) no-repeat center;
    position: relative;
    overflow-x: hidden;
}

.highway {
    height: 100px;
    width: 500%;
    background-image: url(img/road.jpg);
    position: absolute;
    right: 0;
    bottom:0;
    left: 0;

    animation: highway 10s linear infinite;
}

.city {
    background-image: url(img/city.png);
    background-repeat: no-repeat repeat-x;
    height: 250px;
    width: 500%;
    position: absolute;
    bottom: 100px;
    right: 0;
    left: 0;
    display: block;

    animation: city 30s linear infinite;
}

.car {

    height: 150px;
    min-width: 350px;
    max-width: 500px;
    left: 50%;
    bottom: 50px;
    position: absolute;
    z-index: 2;
    transform: translateX(-50%);
}

.car .body {
    width: 100%;
    animation: car 1s linear infinite;
}

.wheel {
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
}

.wheel img {
    width: 90px;
    height: 90px;
    animation: spin 1s linear infinite;
}

.back {
    left: -205px;
    position: absolute;
}

.front {
    left: 100px;
    position: absolute;
}



@keyframes highway {
    100% {
        transform: translateX(-50%);
    }
}

@keyframes city {
    100% {
        transform: translateX(-50%);
    }
}

@keyframes car {
    100% {
        transform: translateY(-1px);
    }

    50% {
        transform: translateY(1px);
    }

    0% {
        transform: translateY(-1px);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}